* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Details */

.detail {
  background: lavenderblush;
  height: 100vh;
}

#head {
  text-align: center;
}

#head h2 {
  padding-top: 20px;
}

#head input {
  background-color: white;
  width: 25%;
  margin: 20px 0px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  font-size: 1em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500 bold;
}

#icons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* add */
.add {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: 3%;
}

.add #add {
  width: 100px;
  height: 30px;
  background: black;
  border-radius: 10px;
  justify-content: center;
  display: flex;
}

.add #add .fa {
  margin-top: 8px;
}

.add #add:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/* Add form */

.fullcont {
  background: lavenderblush;
  height: 100vh;
  padding-top: 20px;
}


.container2 {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding-bottom: 20px;
  margin: auto;
  background: lavender;
}

.container2 h2 {
  padding-top: 20px;
}

#status {
  display: flex;
  justify-content: space-between;
}

#btn {
  background: #0563b4;
  color: white;
}

#btn:hover {
  background: black;
}

/* table */

table {
  text-align: center;
  
}

/* pagination */

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  gap: 10px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
}

.pagination .page-num:hover {
  background-color: black;
  color: white;
}

.pagination .active {
  background-color: violet;
}